<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Banking</title>
</head>

<body>

<div class="container">

	<h3>Banking</h3>
	<hr>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Account No</th>
				<th>Name</th>
				<th>Balance</th>
				<th>Transaction List</th>
				<th>Transfer Amount</th>
				<th>Deposit Amount </th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
			
				<td th:text="${user.account}" />
				<td th:text="${user.firstName+' '+user.lastName}" />
				<td th:text="${user.balance}" />
				
				<td>
					<!-- Add "update" button/link -->
					<a th:href="@{/users/listTransactions(uid=${user.account})}"
					   class="btn btn-info btn-sm">
						List Transactions
					</a>
				</td>
				<td>
					<!-- Add "delete" button/link -->					
					<a th:href="@{/users/transfer(uid=${user.account})}"
					   class="btn btn-danger btn-sm"
					   >
						Transfer
					</a>
				</td>
				<td>
					<a th:href = "@{/users/deposit(uid=${user.account})}" class="btn btn-danger btn-sm">
						Deposit
					</a>
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	<a th:href = "@{/logout}" class="btn btn-danger btn-sm">
		Log out
	</a>
</div>
	
</body>
</html>



